* {
    --white-text:#fff;

}

.hero{
    background-image: url(../assets/images/thailand\ beachside\ evening.jpg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--white-text);
}

.container.px-4.py-5{
    height:100vh;
}

.feature.col p{
    max-width: 300px;
}

.feature.col img{
    height:300px;
    border-radius:20px;
}

.booking{
    background-image: url(../assets/images/thailand\ beachside\ 3ratio\ bluesky\ smallbar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.box {
    background-color: rgba(253, 248, 242, 0.8); 
    max-width: 450px;
    margin-top: 10px;
    margin-left:40px;
    border-radius: 20px;
    padding: 20px;
}